# ملفات الترجمة والتشغيل (التي لا نحتاجها في GitHub)
target/
*.class
*.jar
*.war
*.ear

# ملفات مضغوطة غير ضرورية
*.zip
*.tar.gz

# إعدادات بيئة التطوير (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات السجلات (Logs)
*.log
